@use '../helpers/' as *;

.card {
    width: rem(350);
    background-color: var(--color-green-light);
    padding: rem(20) rem(20) rem(30) rem(20);

    &__header {
            margin-block: rem(20) rem(30);
    }

    &__price {
        color: var(--color-green);
    }

    &__button {
        width: 100%;
        margin-top: rem(20);
    }
}