@use '../helpers/' as *;


.header {
    display: flex;
    background-color: var(--color-green-light);
    position: sticky;
    z-index: 100;
    top: 0;
    width: 100%;

    @include tablet-s {
        flex-direction: column;
    }

    &__container {
        margin: 0 auto;
        padding-block:  rem(30);

        display: flex;
        align-items: center;
        justify-content: space-between;
        column-gap: 1rem;

        @include tablet {
            flex-direction: column;
            row-gap: rem(16);
            padding-block: rem(16);

            &-divider {
                height: rem(1);
                width: 95%;
                background-color: #C3D1C6;
            }
        }

        @include tablet-s {
            display: contents;
        }
        
        &-divider {
            @include tablet-s {
                @include visually-hidden;
            }
        }
        
        &-upper {
            display: flex;
            align-items: center;
            justify-content: center;

            @include tablet-s {
                padding-block: rem(16);
                background-color: var(--color-light);
            }

        }

        &-lower {
            @include tablet-s {
                padding-block: rem(16);
                max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
                width: var(--container-width);
                padding-inline: var(--container-padding-x);
                margin-inline: auto;
            }
        }

        &-menu {
            display: flex;
            align-items: center;
            @include fluid-text(20, 18);
            column-gap: rem(60);
            flex-grow: 1;


            @include tablet-s {
                justify-content: space-between;
                flex-direction: column-reverse;
                align-items: flex-start;
                row-gap: rem(16);
            }

            &-list {
                display: flex;
                column-gap: rem(60);
                
                @include tablet-s {
                    height: 40vh;
                    width: 100%;
                    flex-direction: column;
                    gap: rem(50);
                    margin-block: 1rem;
                    inset: 0;
                    background-color: var(--color-green-light);
                    transition-duration: var(--transition-duration);
                    row-gap: 2rem;
                    overflow-y: auto;

                    &:not(.is-active) {
                        @include visually-hidden;
                    }
                }
            }

            &-buttons {
                display: flex;
                justify-content: space-between;
                align-items: center;
                
                @include tablet-s {
                    width: 100%;
                }
            }

        }
    }
}


.header__cart-button {
    position: relative;
    display: inline-flex;
    justify-self: center;
    align-items: center;
    background-color: transparent;
    border: none;
    color: var(--color-dark);

    &.is-active {
        @include visually-hidden;
    }
}

.header__cart-button:hover {
    color: var(--color-green);
}

.header__cart-button:active {
    color: var(--color-dark);
    background-color: var(--color-green-light);
}

