@use '../helpers/' as *;

.burger-button {
    @include square(rem(30));

    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: rem(6.5) rem(4.7);
    color: #4C5866;
    background-color: transparent;
    border: none;
    transition: var(--transition-duration);


    @include hover {
        color: var(--color-green);
    }

    &.is-active {
        .burger-button__line:nth-child(2) {
            rotate: -45deg;
            background-color: #2C2D35;
        }

        .burger-button__line:first-child {
            rotate: 45deg;
            transform-origin: 0;
            translate: 0.16em 0em;
            background-color: #2C2D35;
        }

        .burger-button__line:last-child {
            width: 0;
        }
    }

    &__line {
        
        width: 100%;
        height: rem(2);
        color: var(--color-dark);
        border-radius: rem(1);
        background-color: #4C5866;
        transition-duration: var(--transition-duration);
    }
}