@charset "UTF-8";
/**
  Нормализация блочной модели
 */
*,
::before,
::after {
  box-sizing: border-box;
}

/**
  Убираем внутренние отступы слева тегам списков,
  у которых есть атрибут class
 */
:where(ul, ol):where([class]) {
  padding-left: 0;
}

/**
  Убираем внешние отступы body и двум другим тегам,
  у которых есть атрибут class
 */
body,
:where(blockquote, figure):where([class]) {
  margin: 0;
}

/**
  Убираем внешние отступы вертикали нужным тегам,
  у которых есть атрибут class
 */
:where(h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
dl):where([class]) {
  margin-block: 0;
}

:where(dd[class]) {
  margin-left: 0;
}

:where(fieldset[class]) {
  margin-left: 0;
  padding: 0;
  border: none;
}

/**
  Убираем стандартный маркер маркированному списку,
  у которого есть атрибут class
 */
:where(ul[class]) {
  list-style: none;
}

:where(address[class]) {
  font-style: normal;
}

/**
  Обнуляем вертикальные внешние отступы параграфа,
  объявляем локальную переменную для внешнего отступа вниз,
  чтобы избежать взаимодействие с более сложным селектором
 */
p {
  margin-block: 0;
}

/**
  Внешний отступ вниз для параграфа без атрибута class,
  который расположен не последним среди своих соседних элементов
 */
p:where(:not([class]):not(:last-child)) {
  margin-bottom: var(--paragraphMarginBottom);
}

/**
  Упрощаем работу с изображениями и видео
 */
img,
video {
  display: block;
  max-width: 100%;
  height: auto;
}

/**
  Наследуем свойства шрифт для полей ввода
 */
input,
textarea,
select,
button {
  font: inherit;
}

html {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  height: 100%;
  /**
    Убираем скачок интерфейса по горизонтали
    при появлении / исчезновении скроллбара
   */
  scrollbar-gutter: stable;
}

/**
  Плавный скролл
 */
html,
:has(:target) {
  scroll-behavior: smooth;
}

body {
  /**
    Пригодится в большинстве ситуаций
    (когда, например, нужно будет "прижать" футер к низу сайта)
   */
  min-height: 100%;
  /**
    Унифицированный интерлиньяж
   */
  line-height: 1.5;
}

/**
  Нормализация высоты элемента ссылки при его инспектировании в DevTools
 */
a:where([class]) {
  display: inline-flex;
}

/**
  Курсор-рука при наведении на элемент
 */
button,
label {
  cursor: pointer;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут fill со значением 'none' или начинается с 'url')
 */
:where([fill]:not([fill=none],
[fill^=url])) {
  fill: currentColor;
}

/**
  Приводим к единому цвету svg-элементы
  (за исключением тех, у которых уже указан
  атрибут stroke со значением 'none')
 */
:where([stroke]:not([stroke=none],
[stroke^=url])) {
  stroke: currentColor;
}

/**
  Чиним баг задержки смены цвета при взаимодействии с svg-элементами
 */
svg * {
  transition-property: fill, stroke;
}

/**
  Приведение рамок таблиц в классический 'collapse' вид
 */
:where(table) {
  border-collapse: collapse;
  border-color: currentColor;
}

/**
  Удаляем все анимации и переходы для людей,
  которые предпочитают их не использовать
 */
@media (prefers-reduced-motion: reduce) {
  *,
  ::before,
  ::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
@font-face {
  font-family: "Raleway";
  src: url("../fonts/Raleway-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
:root {
  --color-light: #F4F6F5;
  --color-dark: #352C34;
  --color-green: #598D66;
  --color-green-active: #376B44;
  --color-green-dark: #1A5533;
  --color-green-light: #E1EDE6;
  --color-grey: #86928B;
  --color-accent: #EEDB6D;
  --border-radius: 20px;
  --font-family-base: "Raleway", sans-serif;
  --container-width: 69.375rem;
  --container-padding-x: 0.9375rem;
  --transition-duration: 0.2s;
}

@media (width <= 71.31125rem) {
  :root {
    --container-width: 43.125rem;
  }
}
@media (width <= 48.06125rem) {
  :root {
    --container-width: 31.875rem;
  }
}
@media (width <= 36.06125rem) {
  :root {
    --container-width: 20rem;
  }
}
.container {
  max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
  width: var(--container-width);
  padding-inline: var(--container-padding-x);
  margin-inline: auto;
  --offset: max(
      calc(
          (100vw
          - (var(--container-width)
              + 2 * var(--container-padding-x)
          )
          ) / 2
      ),
      0px
  );
}

.visually-hidden {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

@media (width <= 20.06125rem) {
  .hidden-mobile {
    display: none !important;
  }
}

@media (width <= 36.06125rem) {
  .hidden-tablet-s {
    display: none !important;
  }
}

@media (width > 36.06125rem) {
  .visible-mobile {
    display: none !important;
  }
}

@media (width > 48.06125rem) {
  .visible-tablet {
    display: none !important;
  }
}

html.is-lock {
  overflow: hidden;
}

body {
  font-size: clamp(0.875rem, 0.8035714286rem + 0.3571428571vw, 1.125rem);
  display: flex;
  flex-direction: column;
  font-family: var(--font-family-base);
  color: var(--color-dark);
  background-color: var(--color-light);
}

main {
  flex-grow: 1;
}

h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  color: var(--color-dark);
  font-weight: 500;
  margin: 0;
}

h1, .h1 {
  font-size: clamp(1.875rem, 1.3392857143rem + 2.6785714286vw, 3.75rem);
  line-height: 1.1;
}

h2, .h2 {
  font-size: clamp(1.5rem, 1.2142857143rem + 1.4285714286vw, 2.5rem);
  line-height: 1;
}

h3, .h3 {
  font-size: clamp(1.5rem, 1.3928571429rem + 0.5357142857vw, 1.875rem);
}

h4, .h4 {
  font-size: clamp(1.25rem, 1.1785714286rem + 0.3571428571vw, 1.5rem);
}

h5, .h5 {
  font-size: clamp(1.25rem, 1.25rem + 0vw, 1.25rem);
}

h6, .h6 {
  font-size: clamp(1.125rem, 1.0892857143rem + 0.1785714286vw, 1.25rem);
}

a,
button,
label,
input,
textarea,
select,
svg * {
  transition-duration: var(--transition-duration);
}

a {
  color: inherit;
}
@media (any-hover: hover) {
  a:hover {
    color: var(--color-green);
  }
}
@media (any-hover: none) {
  a:active {
    color: var(--color-green);
  }
}
a[class] {
  text-decoration: none;
}

:focus-visible {
  outline: 0.125rem dashed var(--color-dark);
  outline-offset: 0.25rem;
  transition-duration: 0 !important;
}

a[aria-label],
button[aria-label] {
  position: relative;
}
a[aria-label]::before,
button[aria-label]::before {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  width: 2.75rem;
  height: 2.75rem;
}

.header {
  display: flex;
  background-color: var(--color-green-light);
  position: sticky;
  z-index: 100;
  top: 0;
  width: 100%;
}
@media (width <= 36.06125rem) {
  .header {
    flex-direction: column;
  }
}
.header__container {
  margin: 0 auto;
  padding-block: 1.875rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 1rem;
}
@media (width <= 48.06125rem) {
  .header__container {
    flex-direction: column;
    row-gap: 1rem;
    padding-block: 1rem;
  }
  .header__container-divider {
    height: 0.0625rem;
    width: 95%;
    background-color: #C3D1C6;
  }
}
@media (width <= 36.06125rem) {
  .header__container {
    display: contents;
  }
}
@media (width <= 36.06125rem) {
  .header__container-divider {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__container-upper {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (width <= 36.06125rem) {
  .header__container-upper {
    padding-block: 1rem;
    background-color: var(--color-light);
  }
}
@media (width <= 36.06125rem) {
  .header__container-lower {
    padding-block: 1rem;
    max-width: calc(var(--container-width) + var(--container-padding-x) * 2);
    width: var(--container-width);
    padding-inline: var(--container-padding-x);
    margin-inline: auto;
  }
}
.header__container-menu {
  display: flex;
  align-items: center;
  font-size: clamp(1.125rem, 1.0892857143rem + 0.1785714286vw, 1.25rem);
  column-gap: 3.75rem;
  flex-grow: 1;
}
@media (width <= 36.06125rem) {
  .header__container-menu {
    justify-content: space-between;
    flex-direction: column-reverse;
    align-items: flex-start;
    row-gap: 1rem;
  }
}
.header__container-menu-list {
  display: flex;
  column-gap: 3.75rem;
}
@media (width <= 36.06125rem) {
  .header__container-menu-list {
    height: 40vh;
    width: 100%;
    flex-direction: column;
    gap: 3.125rem;
    margin-block: 1rem;
    inset: 0;
    background-color: var(--color-green-light);
    transition-duration: var(--transition-duration);
    row-gap: 2rem;
    overflow-y: auto;
  }
  .header__container-menu-list:not(.is-active) {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    margin: -1px !important;
    border: 0 !important;
    padding: 0 !important;
    white-space: nowrap !important;
    clip-path: inset(100%) !important;
    clip: rect(0 0 0 0) !important;
    overflow: hidden !important;
  }
}
.header__container-menu-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (width <= 36.06125rem) {
  .header__container-menu-buttons {
    width: 100%;
  }
}

.header__cart-button {
  position: relative;
  display: inline-flex;
  justify-self: center;
  align-items: center;
  background-color: transparent;
  border: none;
  color: var(--color-dark);
}
.header__cart-button.is-active {
  position: absolute !important;
  width: 1px !important;
  height: 1px !important;
  margin: -1px !important;
  border: 0 !important;
  padding: 0 !important;
  white-space: nowrap !important;
  clip-path: inset(100%) !important;
  clip: rect(0 0 0 0) !important;
  overflow: hidden !important;
}

.header__cart-button:hover {
  color: var(--color-green);
}

.header__cart-button:active {
  color: var(--color-dark);
  background-color: var(--color-green-light);
}

:root {
  /* пробрасываем SCSS-переменную в CSS-custom property */
  --breakpoint-tablet-s: 576.98px;
}

.footer {
  background-color: var(--color-green-light);
}
.footer__inner {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-block: clamp(1.25rem, 1.1964285714rem + 0.2678571429vw, 1.4375rem);
}
@media (width <= 71.31125rem) {
  .footer__inner {
    flex-direction: column;
    gap: 1.875rem;
  }
}
.footer__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
@media (width <= 71.31125rem) {
  .footer__body {
    flex-direction: row;
    justify-content: space-between;
  }
}
@media (width <= 36.06125rem) {
  .footer__body {
    display: contents;
  }
}
.footer__body-contacts {
  display: flex;
  flex-direction: column;
}
.footer__extra {
  display: flex;
  flex-direction: row;
  gap: 15.625rem;
}
@media (width <= 71.31125rem) {
  .footer__extra {
    justify-content: space-between;
    gap: 0;
  }
}
@media (width <= 48.06125rem) {
  .footer__extra {
    flex-direction: column;
    gap: 0.9375rem;
  }
}
@media (width <= 36.06125rem) {
  .footer__extra {
    display: contents;
  }
}
.footer__extra-soc1als {
  display: inline-flex;
  flex-direction: column;
  gap: 0.625rem;
}
@media (width <= 48.06125rem) {
  .footer__extra-soc1als {
    align-items: center;
    border-top: 0.0625rem solid var(--color-grey);
    padding-top: 1.25rem;
  }
}
.footer__extra-soc1als-list {
  display: flex;
  flex-direction: row;
  gap: 1.875rem;
}
.footer__extra-soc1als-сopyright {
  color: var(--color-grey);
  font-size: 0.75rem;
}
.footer__extra-main-link {
  font-size: clamp(1rem, 0.9285714286rem + 0.3571428571vw, 1.25rem);
}
.footer__extra-menu {
  display: flex;
  flex-direction: row;
  gap: 3.75rem;
}
@media (width <= 48.06125rem) {
  .footer__extra-menu {
    justify-content: space-between;
  }
}
@media (width <= 36.06125rem) {
  .footer__extra-menu {
    display: contents;
  }
}
.footer__extra-menu-column {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.footer__extra-menu-list {
  display: flex;
  flex-direction: column;
  gap: 0.375rem;
}
.footer__extra-menu-link {
  color: var(--color-grey);
  font-size: clamp(1rem, 0.9642857143rem + 0.1785714286vw, 1.125rem);
}

@media (width <= 36.06125rem) {
  .footer__columns-grid {
    display: grid;
    grid-template-columns: repeat(2, max-content);
    gap: 1.875rem 1.25rem;
    justify-content: center;
  }
  .footer__columns-grid .footer__extra-menu-column {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
  }
}
.hero__main {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-block: 0 4.375rem;
}
@media (width <= 48.06125rem) {
  .hero__main {
    padding-block: 3.125rem 3.125rem;
  }
}
.hero__main-image {
  background: url("../images/hero-image.png") no-repeat center center;
  background-size: cover;
}
@media (width <= 71.31125rem) {
  .hero__main-image {
    width: 20.625rem;
  }
}
@media (width <= 48.06125rem) {
  .hero__main-image {
    width: 12.1875rem;
  }
}
.hero__main-description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  width: 100%;
  padding-inline: 1.25rem;
  padding-inline: 0;
}
.hero__main-description:not(:last-child) {
  margin-bottom: 1.25rem;
}
@media (width <= 36.06125rem) {
  .hero__main-description {
    padding-inline: 0.625rem;
    padding-inline: 0;
  }
}
@media (width <= 71.31125rem) {
  .hero__main-description h1 {
    font-size: 2.375rem;
  }
}
@media (width <= 48.06125rem) {
  .hero__main-description h1 {
    font-size: 2rem;
  }
}
@media (width <= 36.06125rem) {
  .hero__main-description h1 {
    font-size: 1.875rem;
  }
}
.hero__main .highlight-green {
  color: var(--color-green);
}

.catalog {
  display: flex;
  flex-direction: column;
  gap: clamp(1.25rem, 1.0714285714rem + 0.8928571429vw, 1.875rem);
  margin-bottom: clamp(3.75rem, 3.5714285714rem + 0.8928571429vw, 4.375rem);
}
.catalog .tabs__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.875rem;
}
@media (width <= 48.06125rem) {
  .catalog .tabs__header {
    flex-direction: column;
    align-items: baseline;
    gap: 1.25rem;
  }
}
@media (width <= 36.06125rem) {
  .catalog .tabs__header {
    overflow: hidden;
    display: contents;
  }
  .catalog .tabs__header::-webkit-scrollbar {
    display: none;
  }
}
.catalog .tabs__header-buttons {
  display: grid;
  grid-auto-flow: column;
  column-gap: 2rem;
}
@media (width <= 71.31125rem) {
  .catalog .tabs__header-buttons {
    column-gap: 1.25rem;
  }
}
@media (width <= 36.06125rem) {
  .catalog .tabs__header-buttons {
    overflow-x: auto;
    padding-left: var(--offset);
  }
}
.catalog .tabs__content-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1.875rem;
  row-gap: 1.875rem;
}
@media (width <= 71.31125rem) {
  .catalog .tabs__content-list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (width <= 36.06125rem) {
  .catalog .tabs__content-list {
    grid-template-columns: repeat(1, 1fr);
  }
}
.catalog .tabs__content-list-item {
  display: flex;
  justify-content: center;
}
.catalog .tabs__content:not(.is-active) {
  display: none;
}
.catalog .tabs__content:focus-visible {
  outline-offset: -1rem;
}

.ad {
  margin-bottom: 4.375rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6) 0%, rgba(0, 0, 0, 0) 100%), url("../../images/back.jpeg");
  background-size: cover;
  background-position: top;
  padding-block: 4.375rem;
}
.ad__body {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: flex-start;
  gap: clamp(1.875rem, 1.3392857143rem + 2.6785714286vw, 3.75rem);
}
.ad__body-description {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
}
.ad__body-description-title {
  display: flex;
  flex-direction: row;
  gap: 1.25rem;
}
.ad__body-description-title .h2 {
  color: white;
}
@media (width > 36.06125rem) {
  .ad__body-description {
    max-width: 80%;
  }
}

.button__accent {
  background-color: var(--color-accent);
  color: var(--color-dark);
  border: 0.0625rem solid var(--color-accent);
  padding: clamp(0.625rem, 0.4464285714rem + 0.8928571429vw, 1.25rem) clamp(1.875rem, 1.3392857143rem + 2.6785714286vw, 3.75rem);
}
@media (width <= 36.06125rem) {
  .button__accent {
    width: 100%;
  }
}

.button__accent:hover {
  background-color: var(#FAEB97);
  color: var(--color-dark);
  border: 0.0625rem solid #FAEB97;
}

.ad__title {
  color: white;
}

.ad__image {
  width: clamp(3.125rem, 2.5892857143rem + 2.6785714286vw, 5rem);
  height: clamp(3.125rem, 2.5892857143rem + 2.6785714286vw, 5rem);
}

.team__main {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1.875rem;
  margin-bottom: 4.375rem;
}
@media (width <= 71.31125rem) {
  .team__main {
    flex-direction: column;
    align-items: flex-start;
  }
}
.team__main-image {
  width: 23.4375rem;
}
@media (width <= 36.06125rem) {
  .team__main-image {
    width: 100%;
  }
}
.team__body-description p {
  margin-block: 1.25rem;
}
.team__body-icons {
  display: flex;
  flex-direction: row;
  gap: clamp(1.5625rem, 1.4732142857rem + 0.4464285714vw, 1.875rem);
}

.burger-button {
  width: 1.875rem;
  height: 1.875rem;
  display: inline-flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.40625rem 0.29375rem;
  color: #4C5866;
  background-color: transparent;
  border: none;
  transition: var(--transition-duration);
}
@media (any-hover: hover) {
  .burger-button:hover {
    color: var(--color-green);
  }
}
@media (any-hover: none) {
  .burger-button:active {
    color: var(--color-green);
  }
}
.burger-button.is-active .burger-button__line:nth-child(2) {
  rotate: -45deg;
  background-color: #2C2D35;
}
.burger-button.is-active .burger-button__line:first-child {
  rotate: 45deg;
  transform-origin: 0;
  translate: 0.16em 0em;
  background-color: #2C2D35;
}
.burger-button.is-active .burger-button__line:last-child {
  width: 0;
}
.burger-button__line {
  width: 100%;
  height: 0.125rem;
  color: var(--color-dark);
  border-radius: 0.0625rem;
  background-color: #4C5866;
  transition-duration: var(--transition-duration);
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: clamp(0.9375rem, 0.8482142857rem + 0.4464285714vw, 1.25rem) clamp(1.875rem, 1.3392857143rem + 2.6785714286vw, 3.75rem);
  background-color: transparent;
  border: 0.0625rem solid var(--color-green);
  color: var(--color-green);
  font-size: 20px;
}

.button:hover {
  background-color: var(--color-green);
  color: var(--color-light);
}

.button:active {
  background-color: var(--color-green-light);
  color: var(--color-green);
}

.tabs__button {
  display: inline-flex;
  font-size: clamp(1.125rem, 1.0892857143rem + 0.1785714286vw, 1.25rem);
  padding: 0.4375rem 1.25rem;
  background-color: var(--color-green-light);
  border-radius: var(--border-radius);
  border: 0.125rem solid transparent;
}
.tabs__button.is-active {
  background-color: var(--color-green-active);
  color: var(--color-light);
  pointer-events: none;
}
.tabs__button:hover {
  background-color: var(--color-green);
  color: var(--color-light);
}
.tabs__button:active {
  background-color: var(--color-green-light);
  color: var(--color-dark);
  border: 2px solid var(--color-green);
}

.card {
  display: flex;
  flex-direction: column;
  background-color: var(--color-green-light);
  padding: 1.25rem 1.25rem 1.875rem 1.25rem;
}
.card__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: clamp(0.9375rem, 0.8482142857rem + 0.4464285714vw, 1.25rem);
  gap: 1.875rem;
}
@media (width <= 48.06125rem) {
  .card__description {
    gap: 0.6875rem;
  }
}
@media (width <= 48.06125rem) {
  .card__description-header-title {
    font-size: 1.375rem;
  }
}
.card__description-footer {
  display: flex;
  flex-direction: column;
  gap: 1.25rem;
  color: var(--color-green);
}
@media (width <= 48.06125rem) {
  .card__description-footer {
    gap: 0.625rem;
  }
}
.card__button {
  width: 100%;
  font-size: clamp(1.125rem, 1.0892857143rem + 0.1785714286vw, 1.25rem);
}

.active {
  color: var(--color-green-active);
}

.description {
  font-size: clamp(1rem, 0.9642857143rem + 0.1785714286vw, 1.125rem);
  color: var(--color-grey);
}

/* MEDIA QUERIES
 */

/*# sourceMappingURL=main.css.map */
